﻿@model Assignment.Web.DataAccess.Models.UserLogin

@using (Html.BeginForm("UserLogin", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="bs-example">
        <h1 style="text-align:center"> Login </h1>
        <div class="form-group centerlook">
        </div>
        <div class="form-group centerlook">
            <label asp-for="EmailAddress" class="control-label">User Name</label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group centerlook">
            <label asp-for="Password" class="control-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
        <br />
        <div>
            <a href="https://localhost:44377/User/RegisterUser" class="registerbtn">Create a New Account Here!</a>
            <a href="https://localhost:44377/User/ForgotPassword" class="forgotpasswordbtn">Forgot Password?</a>

        </div>
        <br />
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
