﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var loginLink = "https://localhost:44377/Login/Index";
}
    <body>
        <h2>You have been successfully registered. We have sent you activation link on your registered email. Please Activate and  <a href=@loginLink>Login here</a></h2>
    </body>