﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var loginLink = "https://localhost:44377/Login/Index";
}
<body>
    <h2>Your Password has been successfully saved. <a href=@loginLink>Login here</a></h2>
</body>