﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var loginLink = "https://localhost:44377/Login/Index";
}

<h1>Reset password mail sent to your email address. Please reset and <a href=@loginLink>Login here</a></h1>