﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> RecaptchaSettings

@model Assignment.Web.DataAccess.Models.UserDetails
@{
    ViewData["Title"] = "CreateUser";

}
<h3>Enter details to Register</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreateUser", "User"))
            {
                @Html.AntiForgeryToken()
                <div asp-validation-summary = "ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOFBirth" class="control-label">Date Of Birth</label>
            <input asp-for="DateOFBirth" class="form-control" type="date" />
            <span asp-validation-for="DateOFBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label">Gender</label>
            @*<input asp-for="Gender" class="form-control" />*@
            <select asp-for="Gender" class="custom-select">
                <option value="">Choose Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label">Email Address</label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))
        </div>
        <div class="form-group">
            <input type="submit" id="btnSubmitRegister" value="Create" class="btn btn-primary" />
        </div>
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.IsPasswordGenerated)
        @Html.HiddenFor(model => model.ActivationLink)
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

