﻿@model Assignment.Web.DataAccess.Models.UserLogin
@{
    ViewData["Title"] = "ResetPassword";
}

<body>
    <h1>Reset Password</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SavePassword">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="EmailAddress" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Enter Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Enter Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    </body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

