﻿@model Assignment.Web.DataAccess.Models.UserDetails

@{
    ViewData["Title"] = "Welcome";
}

    <body>
        <h1>Welcome @Model.FirstName</h1>
        <div>
            @Html.ActionLink("Edit", "UpdateUser","User") |
            <a asp-action="Logout">Logout</a>
        </div>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateOFBirth)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateOFBirth)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
                <dd class="col-sm-10">
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model=>model.Password)
                    @Html.HiddenFor(model=>model.IsPasswordGenerated)
                    @Html.HiddenFor(model=>model.ActivationLink)
                </dd>
            </dl>
        </div>
    </body>