﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: -5%;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-image: url(/images/images.jpg);
    color:white !important;
}


.bs-example {
    border: 2px solid gray;
    width:40%;
    margin-left: 345px;
    margin-top: 140px;
    min-height: 300px;
    height: 50%;
}


.centerlook {
    padding-left: 50px;
    font-weight: bold;
    width: 431px;
    padding-right: 53px;
}

.error {
    padding-left: 400px;
    font-weight: bold;
    width: 1000px;
    color: red;
}

.loginbtn {
    align-items: center;
    margin-left: 175px;
}

.bodyBackground {
    background-color: antiquewhite;
    -webkit-print-color-adjust: exact !important
}

.registerbtn {
    float: left;
    padding-left: 50px;
}

.forgotpasswordbtn {
    float: left;
    padding-left: 35px;
}

.header {
    background-image: url(/images/images.jpg);
}

.header a{
    color:white !important
}

.header a:hover{
    color:gainsboro !important
}